.eta_mode_img {
    height: 10px;
    padding: 2px;
    background: #EEEEEE;
    border: 1px solid gray;
}

.eta_mode_img:hover {
    border: 1px solid #555555;
}

.eta_mode_img_selected {
    background: #EEEEAA;
    border: 1px solid black;
}
