.eta_mode_img {
    height: 14px;
    margin-top: 4px;
}

.button_like {
    background: #EEEEEE;
    border: 1px solid gray;
}

.button_like:hover {
    border: 1px solid #555555;
}

.button_like_selected {
    background: #EEEEAA;
    border: 1px solid black;
}

.permalink {
    float: right;
}

.show_tracks_img {
    height: 20px;
    padding: 2px;
}


.show_tracks_img_selected {
    background: #DDDDDD;
}
